.formy{
    display: flex;
    text-align: center;
    justify-content: center;
    height: 100vh;
    background: linear-gradient( rgba(255, 255, 255, 0.7),
                                rgba(255, 255, 255, 0.3)
                                ),
               url(https://images.pexels.com/photos/6562811/pexels-photo-6562811.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-size: cover;
    background-position: center;
}

form{
    background-color: white;
    padding: 0px 60px;
    border-radius: 10px;
    margin-top: 40px;
    margin-bottom: 60px;
}



h1{
  color: rgb(76, 0, 76);  
  text-align: center;
}
form >button{
    width: 100%;
    height: 50px;
    background-color: #8d29ea;
    border: none;
    padding: 10px;
    color: white;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 15px;
    margin-bottom: 30px;
    font-weight: bold;
}

label{
    font-size: 12px;
    color: gray;
}
